.video-item {
    display: flex;
    padding-bottom: 30px;
    flex-direction: row;
    font-family: var(--font-family);
}

.video-item__image {
    cursor: pointer;
}

.video-item__thumbnail {
    width: 400px;
    height: auto;
    border-radius: 7px;
}

.video-item__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 0 10px 20px;
    cursor: pointer;
}

.video-item__details {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
}

.video-item__title {
    font-size: 24px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.video-item__channel {
    flex: 1;
    font-family: var(--font-family);
    font-size: 18px;
    padding-top: 10px;
}

.video-item__date {
    font-family: var(--font-family);
    font-size: 14px;
    padding-bottom: 10px;
}

@media (max-width: 1090px) {
    .video-item__thumbnail {
        width: 300px;
        height: 169px;
    }

    .video-item__title {
        font-size: 18px;
    }

    .video-item__channel {
        font-size: 16px;
    }

    .video-item__date {
        font-size: 12px;
    }
}

@media (max-width: 741px) {
    .video-item__title {
        font-size: 16px;
    }
}

@media (max-width: 705px) {
    .video-item {
        flex-direction: column;
    }

    .video-item__container {
        padding: 10px;
    }

    .video-item__image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-item__thumbnail {
        width: 100%;
        height: auto;
    }

    .video-item__title {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .video-item__title {
        font-size: 16px;
    }

    .video-item__channel {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .video-item__title {
        font-size: 14px;
    }
}