:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Roboto", sans-serif;
  --third-family: "Raleway", sans-serif;
  --primary-color: #1e1e1e;
  --second-color: #fe0100;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}