.header {
    display: flex;
    flex-direction: row;
    background: var(--primary-color);
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 35px;
}

.header__logo {
    cursor: pointer;
}

.header__label {
    font-family: var(--font-family);;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.header__label-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.youtube__logo {
    display: flex;
    flex-direction: row;
    height: 40px;
    padding-right: 10px;
}

.header__favorite{
    padding: 0 35px;
}

.favorite {
    width: 35px !important;
    height: 35px !important;
    color: white;
    cursor: pointer;
}

.favorite:hover {
    color: var(--second-color);
    transform: scale(1.2);
    transition: color 0.5s ease, transform 0.5s ease;
}

@media (max-width: 655px) {
    .header__label {
        display: none;
    }
}
